<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= author.link %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= author.img %>
  </p>

</div>
