<h1>Latest videos</h1>

<% if @videos.any? %>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Thumbnail</th>
    </tr>
    </thead>
    <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video[:title] %></td>
        <td><%= link_to "Open", video[:link], target: "_blank" %></td>
        <td><img src="<%= video[:img] %>" width="120"></td>
        <td>Release date: <%= video[:release_date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Failed to load videos.</p>
<% end %>